h1 {
  color: black;
}
table {
  background-color: gray;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: black;
  color: white;
 }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  pointer-events: none;
  cursor: default;
  background-color: orange;
  color: black;
  font-weight: bold;
}
